{% include 'header.html' %}

<div class="container w-75"
    style="padding: 1rem 1rem 1rem 1rem; background: #eeeeee; border-radius: 1rem; margin-top: 10rem;">
    <h4>시간 추가</h4>
    <div style="padding: 1rem 1rem 1rem 1rem; background: #ffffff; border-radius: 1rem;">
        <div class="mb-3">
            <label for="c_time" class="form-label">
                <h5>시간</h5>
            </label>
            <br />
            <div id="time_container">

            </div>
        </div>
        <div class="mb-3">
            <label for="c_type" class="form-label">
                <h5>종류</h5>
            </label>
            <br />
            <input type="radio" class="btn-check" name="c_type" id="speed-outlined" autocomplete="off"
                onclick="select_type(0)">
            <label class="btn btn-outline-danger" for="speed-outlined">스피드</label>
            <input type="radio" class="btn-check" name="c_type" id="item-outlined" autocomplete="off"
                onclick="select_type(1)">
            <label class="btn btn-outline-warning" for="item-outlined">아이템</label>
        </div>
        <button type="button" class="btn btn-primary mb-1" onclick="scrum_add()">확인</button>
    </div>
</div>

<div class="container w-75"
    style="padding: 1rem 1rem 1rem 1rem; background: #eeeeee; border-radius: 1rem; margin-top: 1rem;">
    <h4>계정 추가</h4>
    <div style="padding: 1rem 1rem 1rem 1rem; background: #ffffff; border-radius: 1rem;">
        <div class="mb-3">
            <label for="c_username" class="form-label">
                <h5>닉네임</h5>
            </label>
            <input type="text" class="form-control" id="c_username" name="c_username" placeholder="ex. 선이">
        </div>
        <div class="mb-3">
            <label for="c_class" class="form-label">
                <h5>군</h5>
            </label>
            <br />

            <input type="radio" class="btn-check" name="c_class" id="powermain-outlined" autocomplete="off"
                onclick="select_class(1)">
            <label class="btn btn-outline-danger" for="powermain-outlined">강주</label>

            <input type="radio" class="btn-check" name="c_class" id="main-outlined" autocomplete="off"
                onclick="select_class(2)">
            <label class="btn btn-outline-warning" for="main-outlined">주</label>

            <input type="radio" class="btn-check" name="c_class" id="first-outlined" autocomplete="off"
                onclick="select_class(3)">
            <label class="btn btn-outline-primary" for="first-outlined">1</label>

            <input type="radio" class="btn-check" name="c_class" id="second-outlined" autocomplete="off"
                onclick="select_class(4)">
            <label class="btn btn-outline-success" for="second-outlined">2</label>

            <input type="radio" class="btn-check" name="c_class" id="third-outlined" autocomplete="off"
                onclick="select_class(5)">
            <label class="btn btn-outline-info" for="third-outlined">3</label>

            <input type="radio" class="btn-check" name="c_class" id="forth-outlined" autocomplete="off"
                onclick="select_class(6)">
            <label class="btn btn-outline-dark" for="forth-outlined">4</label>

            <input type="radio" class="btn-check" name="c_class" id="normal-outlined" autocomplete="off"
                onclick="select_class(7)">
            <label class="btn btn-outline-secondary" for="normal-outlined">일</label>
        </div>
        <button type="button" class="btn btn-primary mb-1" onclick="create_account()">확인</button>
    </div>
</div>


<div class="container w-75"
    style="padding: 1rem 1rem 1rem 1rem; background: #eeeeee; border-radius: 1rem; margin-top: 1rem; margin-bottom: 10rem;">
    <h4>계정 관리</h4>
    <div class="users_wrapper">
        <ul class="list-group w-100">
            {% for user in users%}
            <li class="list-group-item">{{ user[0] }} (
                {% if user[1] == 7 %}
                일반
                {% elif user[1] == 2 %}
                주력
                {% elif user[1] == 1 %}
                강주력
                {% else %}
                {{ user[1] - 2 }}군
                {% endif %}
                )
                <span class="user_mng" onclick="delete_confirm('{{ user[0] }}')"><i class="fas fa-trash-alt"></i></span>
                <span class="user_mng" onclick="edit_modal('{{ user[0] }}', {{user[1]}}, {{user[2]}})"><i
                        class="fas fa-pencil-alt"></i></span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<!-- Hidden Modal Button -->
<input type="hidden" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"
    id="modal_trigger"></input>

<!-- Modal -->
<div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">정보 수정</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container" style="padding: 1rem 1rem 0.5rem 1rem;">
                    <input type="hidden" id="form_org_username" />
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="form_username">
                        <label for="form_username">닉네임</label>
                    </div>
                    <div class="form-floating">
                        <select class="form-select" id="form_userclass">
                            <option value="1">강주력</option>
                            <option value="2">주력</option>
                            <option value="3">1군</option>
                            <option value="4">2군</option>
                            <option value="5">3군</option>
                            <option value="6">4군</option>
                            <option value="7">일반</option>
                        </select>
                        <label for="form_userclass">군</label>
                    </div>
                </div>
                <div class="form-check form-switch form-check-reverse"
                    style="margin-right: 1rem; margin-bottom: 0.5rem;">
                    <label class="form-check-label" for="is_admin">운영진</label>
                    <input class="form-check-input" type="checkbox" role="switch" id="is_admin">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" onclick="edit_user()">수정</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<script>
    var userclass = "";
    var time = -1;
    var type = -1;
    function select_class(c_userclass) {
        userclass = c_userclass;
    }

    function create_account() {
        let username = document.getElementById("c_username").value;
        if (username == "") {
            alert("닉네임을 입력해주세요.");
            return;
        }
        if (userclass == "") {
            alert("군을 선택해주세요.");
            return;
        }

        $.ajax({
            type: "POST",
            url: "/api/scrum/create_user",
            data: "username=" + username + "&class=" + userclass,
            dataType: "text",
            success: function (data) {
                document.body.style.zomm = 1;
                location.reload();
            },
            error: function (data) {
                alert("중복된 닉네임이 존재합니다.");
            }
        });
    }

    function edit_user() {
        const username = document.getElementById("form_username").value;
        const org_username = document.getElementById("form_org_username").value;
        const userclass_elm = document.getElementById("form_userclass");
        const userclass = userclass_elm.options[userclass_elm.selectedIndex].value;
        const is_admin = $("#is_admin").is(":checked");
        var admin = 0;
        if (is_admin) {
            admin = 1;
        }

        console.log(username);
        console.log(org_username);
        console.log(userclass);


        $.ajax({
            type: "POST",
            url: "/api/scrum/edit_user",
            data: "username=" + username + "&class=" + userclass + "&org_username=" + org_username + "&admin=" + admin,
            dataType: "text",
            success: function (data) {
                document.body.style.zomm = 1;
                location.reload();
            },
            error: function (data) {
                alert("중복된 닉네임이 존재합니다.");
            }
        });
    }

    function delete_confirm(username) {
        if (confirm(`${username}님을 삭제하시겠습니까?`)) {
            $.ajax({
                type: "POST",
                url: "/api/scrum/delete_user",
                data: "username=" + username,
                dataType: "text",
                success: function (data) {
                    document.body.style.zomm = 1;
                    location.reload();
                }
            });
        }
    }

    function edit_modal(username, userclass, admin) {
        const modal_trigger = document.getElementById("modal_trigger");
        modal_trigger.click();

        const username_elm = document.getElementById("form_username");
        username_elm.value = username;

        const org_username_elm = document.getElementById("form_org_username");
        org_username_elm.value = username;

        const userclass_elm = document.getElementById("form_userclass");
        const classes = userclass_elm.children;
        for (i = 0; i < classes.length; i++) {
            if (classes[i].value == userclass) {
                classes[i].setAttribute("selected", 1);
                break;
            }
        }

        if (admin) {
            $("#is_admin").prop("checked", 1);
        }
        else {
            $("#is_admin").prop("checked", 0);
        }
    }

    $("#myModal").on("hidden.bs.modal", () => {
        const userclass_elm = document.getElementById("form_userclass");
        const classes = userclass_elm.children;
        for (i = 0; i < classes.length; i++) {
            classes[i].removeAttribute("selected");
        }
    });

    function select_time(t) {
        if(t < 10)
            t = "0" + t;
        time = t;
    }

    function select_type(t) {
        type = t;
    }

    function scrum_add() {
        if (time == -1) {
            alert("시간을 선택해주세요.");
            return;
        }
        if (type == -1) {
            alert("종류를 선택해주세요.");
            return;
        }

        $.ajax({
            type: "POST",
            url: "/api/scrum/scrum_add",
            data: "hour=" + time + "&type=" + type,
            dataType: "text",
            success: function (data) {
                alert("시간 생성이 완료되었습니다.");
                location.href="/scrum";
            },
            error: function (data) {
                alert("시간 생성에 실패했습니다.");
            }
        });
    }

    function time_setting() {
        let time_container = document.getElementById("time_container");
        time_container.innerHTML = "";
        for(var i=5; i<29; i++){
            t = i;
            if(i < 10){
                t = "0" + i;
            }
            time_container.innerHTML += `<input type="radio" class="btn-check" name="c_time" id="${t}-outlined" autocomplete="off" onclick="select_time(${t})"><label class="btn btn-outline-primary" style="margin-bottom: 1rem; margin-right: 1rem; width: 5rem;" for="${t}-outlined">${t}</label>`
        }
        
    }

    $(document).ready(() => {
        document.getElementById("username_wrapper").style = "display:none;";
    });
    
    time_setting();
    // setInterval(() => {
    //     scrum_data();
    // }, 1000)

</script>

</html>